
.icon-basket:before { content: '\e800'; } /* '' */
.icon-truck:before { content: '\e801'; } /* '' */
.icon-basket-1:before { content: '\e802'; } /* '' */
.icon-leaf:before { content: '\e803'; } /* '' */
.icon-trash-empty:before { content: '\e804'; } /* '' */
.icon-garden:before { content: '\e81a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */